@import "src/responsive.scss";

.quiz-question {
  overflow: hidden;
  position: relative;
  height: 100%;

  &__question {
    margin: 8px;
    height: 100%;
    max-height: calc(100% - 250px);
    overflow: auto;
    font-size: 1.5rem;
    text-align: justify;
    background-image: url("../../../../assets/images/QuizQuestionBackground.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include mobile {
      max-height: calc(100% - 130px);
      font-size: 1.125rem;
    }

    &--navigate {
      max-height: calc(100% - 75px);
    }
  }

  &__full {
    max-height: 100%;
  }

  &__answer {
    bottom: 0;
    height: 120px;
    font-size: 1.5rem;
    cursor: pointer;
    border-top: 1px solid black;
    background: transparent;
    text-align: center;
    color: black;

    &--navigate {
      height: 60px;
    }

    @include mobile {
      height: 60px;
      font-size: 1.25rem;
    }

    &:hover {
      background: var(--theme-primary);
    }

    &:nth-child(even) {
      border-left: 1px solid black;
    }

    &--true {
      background: #95A543;
      color: white;

      &:hover {
        background: #95A543 !important;
        color: white;
      }
    }

    &--false {
      background: var(--theme-danger);
      color: white;

      &:hover {
        background: var(--theme-danger) !important;
        color: white;
      }
    }

    &--ended {
      &:hover {
        cursor: not-allowed;
        background: none;
      }
    }

    &--not-ended {
      &:hover {
        background: var(--theme-primary);
        cursor: pointer;
      }
    }
  }

  &__answers {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 240px;

    @include mobile {
      height: unset;
    }
  }
}
