@import "src/responsive.scss";

.advanced-search-page {
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  background: var(--theme-background);

  &__content {
    width: 98vw;
    margin-left: 1vw;
  }
}
